.footer{
    margin: 100px 200px 20px 200px;
      .wrapper{
         display: flex;
         flex-direction: column;

        .top{
            display: flex;
            
            .item{
                display: flex;
                flex-direction: column;
                flex: 1;
                gap: 6px;
                text-align: start;
                font-size: 15px;

                h1{
                    color: #535353;
                    
                }
                span{
                    color: #777;
                }
            }
         }
         

        .bottom{
            margin-top: 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .item{
                
                span:first-child{
                    color: rgb(0, 78, 247);
                    font-size: 24px;
                    font-weight: 600;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    margin-right: 20px;
                }
                span:last-child{
                    color: #777;
                    font-size: 15px;
                }

                img{
                    width: 600px;
                }
            }
        }
    }
}